/* for all above the page */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* we have background image and make it and make it full width for cover all the site */
body{
    background: url("../image/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

